In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import folium
import psycopg
from sqlalchemy import create_engine
from branca.element import Figure
from branca.colormap import LinearColormap

In [2]:
engine = create_engine('postgresql+psycopg://postgres:postgresql@localhost:5432/powerplants')
conn = psycopg.connect('dbname=powerplants user=postgres password=postgresql')

In [13]:
pd.read_sql_query('''
    SELECT column_name, data_type
    FROM (SELECT table_name, column_name, data_type 
    FROM information_schema.columns
    WHERE table_name = 'units');
    ''',
    engine
).sort_values('column_name')

            column_name          data_type
16                NUTS2               text
5            capacity_g   double precision
0            capacity_p   double precision
9          cooling_type               text
10              country  character varying
11                eic_g  character varying
15                eic_p  character varying
1                   lat   double precision
4                   lon   double precision
13               name_g               text
12               name_p               text
17             status_g               text
14               type_g               text
7     water_consumption   double precision
8            water_type               text
6      water_withdrawal   double precision
2     year_commissioned            integer
3   year_decommissioned            integer

In [3]:
units = pd.read_sql_table('units', engine)

In [4]:
units['type_g'].unique()

array(['Hydro Water Reservoir', 'Fossil Gas',
       'Hydro Run-of-river and poundage', 'Hydro Pumped Storage',
       'Fossil Oil', 'Biomass', 'Fossil Brown coal/Lignite', 'Nuclear',
       'Wind Offshore', 'Wind Onshore', 'Fossil Hard Coal',
       'Fossil Coal-derived gas', 'Waste', 'Fossil Oil shale', 'Solar',
       'Fossil Peat', 'Marine', 'Geothermal', 'Other', 'Fossil gas'],
      dtype=object)

In [26]:
units[
    units["type_g"].isin(
        [
            "Fossil Gas",
            "Fossil Oil",
            "Fossil Brown coal/Lignite",
            "Fossil Hard Coal",
            "Fossil Coal-derived gas",
            "Fossil Oil shale",
            "Fossil Peat",
        ]
    )
].shape

(1882, 18)

In [6]:
temporal = pd.read_sql_query("""
    SELECT u.eic_g, name_p, u.type_g, country, co2emitted 
    FROM Units u 
    JOIN Temporal t ON u.eic_g = t.eic_g
    """,
    engine
)

In [31]:
units['type_g'].value_counts(normalize=True)

type_g
Hydro Water Reservoir             0.260
Hydro Run-of-river and poundage   0.223
Fossil Gas                        0.151
Wind Onshore                      0.104
Fossil Hard Coal                  0.051
Solar                             0.039
Hydro Pumped Storage              0.033
Fossil Brown coal/Lignite         0.030
Biomass                           0.024
Nuclear                           0.023
Fossil Oil                        0.019
Fossil Coal-derived gas           0.010
Wind Offshore                     0.010
Other                             0.010
Waste                             0.005
Geothermal                        0.005
Fossil Oil shale                  0.002
Fossil Peat                       0.001
Marine                            0.000
Fossil gas                        0.000
Name: proportion, dtype: float64

In [32]:
temporal['type_g'].value_counts(normalize=True)

type_g
Fossil Gas                        0.278
Fossil Hard Coal                  0.170
Hydro Pumped Storage              0.102
Fossil Brown coal/Lignite         0.093
Nuclear                           0.086
Hydro Water Reservoir             0.075
Hydro Run-of-river and poundage   0.066
Fossil Oil                        0.053
Wind Offshore                     0.025
Wind Onshore                      0.023
Fossil Oil shale                  0.007
Other                             0.006
Biomass                           0.005
Fossil Peat                       0.005
Fossil Coal-derived gas           0.004
Waste                             0.002
Geothermal                        0.001
Name: proportion, dtype: float64

In [24]:
pd.set_option('display.float_format', '{:.3f}'.format)

In [27]:
temporal[
    temporal["type_g"].isin(
        [
            "Fossil Gas",
            "Fossil Oil",
            "Fossil Brown coal/Lignite",
            "Fossil Hard Coal",
            "Fossil Coal-derived gas",
            "Fossil Oil shale",
            "Fossil Peat",
        ]
    )
].shape

(1124, 5)

In [34]:
temporal.groupby('type_g')['co2emitted'].sum().sort_values(ascending=False)

type_g
Fossil Hard Coal                  276921104430.890
Fossil Brown coal/Lignite         272337887458.000
Fossil Gas                        151598664776.750
Biomass                            15030394000.000
Fossil Oil shale                   10015202600.000
Fossil Oil                          5824866323.720
Waste                               1974826000.000
Hydro Water Reservoir                        0.000
Wind Offshore                                0.000
Other                                        0.000
Nuclear                                      0.000
Geothermal                                   0.000
Hydro Run-of-river and poundage              0.000
Hydro Pumped Storage                         0.000
Fossil Peat                                  0.000
Fossil Coal-derived gas                      0.000
Wind Onshore                                 0.000
Name: co2emitted, dtype: float64

In [36]:
temporal.groupby('country')['co2emitted'].sum().sort_values(ascending=False)

country
Germany          239493299829.200
Poland           123228463300.000
United Kingdom    69096080467.540
Italy             67420155452.650
Netherlands       43655127450.000
Spain             43378953598.290
Greece            27729573201.080
Bulgaria          20093469200.000
Romania           17579840520.000
France            15857527910.000
Portugal          13661566000.000
Estonia           10015202600.000
Denmark            8652599039.600
Belgium            8528806500.000
Hungary            6364606492.000
Finland            5639295123.000
Austria            5246481900.000
Slovenia           3740471752.000
Slovakia           1295479084.000
Sweden             1257575390.000
Ireland             979582780.000
Latvia              788788000.000
Montenegro                  0.000
Lithuania                   0.000
Serbia                      0.000
Czechia                     0.000
Switzerland                 0.000
Name: co2emitted, dtype: float64

In [ ]:
# Make C02Emitted per TerraWat Power generated per year