In [87]:
import numpy as np
import pandas as pd
import random

df = pd.read_csv('Sprint 1 - Movies Data Set Analysis/movies.csv') # Gathering data
df = df.drop(columns=['Summary']) # remove the column "Summary"
df.columns = df.columns.str.lower().str.replace(' ', '_') # Make all the column names lowercase and replace spaces with underscores
df.drop(df.tail(1).index, inplace=True) # Remove the last row of the DF (containing NaNs)

In [88]:
print(df.tail(5)) # See the first five rows of the Data Frame

     movieid                                  title mpaa_rating       budget  \
610      611         Godzilla: King of the Monsters       PG-13  200000000.0
611      612                            Toy Story 4           G  200000000.0
612      613  Fast & Furious Presents: Hobbs & Shaw       PG-13  200000000.0
613      614                          The Lion King          PG  250000000.0
614      615                      Avengers: Endgame       PG-13  356000000.0

            gross release_date      genre  runtime  rating  rating_count
610  3.859000e+08   2019-05-13  Adventure    132.0     NaN           NaN
611  1.062000e+09   2019-06-11  Animation    100.0     NaN           NaN
612  7.594000e+08   2019-07-13   Thriller    136.0     NaN           NaN
613  1.632000e+09   2019-07-09      Drama    118.0     NaN           NaN
614  2.796000e+09   2019-04-22     Action    181.0     NaN           NaN

In [89]:
def nan_rand_fill(data, key):
    mn = data[key].mean()
    sd = data[key].std()
    df.loc[data[key].isna(), key] = [abs(round(random.uniform((mn - 2 * sd), (mn + 2 * sd)), 1)) for i in range(data[key].isna().sum())]

nan_rand_fill(df, 'rating')
nan_rand_fill(df, 'rating_count')

In [90]:
print(df.tail(5)) # See the first five rows of the Data Frame

     movieid                                  title mpaa_rating       budget  \
610      611         Godzilla: King of the Monsters       PG-13  200000000.0
611      612                            Toy Story 4           G  200000000.0
612      613  Fast & Furious Presents: Hobbs & Shaw       PG-13  200000000.0
613      614                          The Lion King          PG  250000000.0
614      615                      Avengers: Endgame       PG-13  356000000.0

            gross release_date      genre  runtime  rating  rating_count
610  3.859000e+08   2019-05-13  Adventure    132.0     7.8      843689.2
611  1.062000e+09   2019-06-11  Animation    100.0     5.7      950988.5
612  7.594000e+08   2019-07-13   Thriller    136.0     6.4      651438.6
613  1.632000e+09   2019-07-09      Drama    118.0     8.1      141567.3
614  2.796000e+09   2019-04-22     Action    181.0     8.6      211651.4

In [48]:
print(df.shape) # Shape of the Data Frame

(615, 10)

In [49]:
print(df.dtypes) # Column names with their data types

movieid           int64
title            object
mpaa_rating      object
budget          float64
gross           float64
release_date     object
genre            object
runtime         float64
rating          float64
rating_count    float64
dtype: object

In [50]:
print(df.columns) # Column names

Index(['movieid', 'title', 'mpaa_rating', 'budget', 'gross', 'release_date',
       'genre', 'runtime', 'rating', 'rating_count'],
      dtype='object')

In [51]:
print(df.isna().sum()) # Column names with their NaN count

movieid         0
title           0
mpaa_rating     0
budget          0
gross           0
release_date    0
genre           0
runtime         0
rating          0
rating_count    0
dtype: int64