In [44]:
import numpy as np
import pandas as pd
import random

df = pd.read_csv('Sprint 1 - Movies Data Set Analysis/movies.csv') # Gathering data
df = df.drop(columns=['Summary']) # remove the column "Summary"
df.columns = df.columns.str.lower().str.replace(' ', '_') # Make all the column names lowercase and replace spaces with underscores
df.drop(df.tail(1).index, inplace=True) # Remove the last row of the DF (containing NaNs)

In [45]:
print(df.head(5)) # See the first five rows of the Data Frame

   movieid                       title mpaa_rating      budget        gross  \
0        1          Look Who's Talking       PG-13   7500000.0  296000000.0
1        2          Driving Miss Daisy          PG   7500000.0  145793296.0
2        3              Turner & Hooch          PG  13000000.0   71079915.0
3        4  Born on the Fourth of July           R  14000000.0  161001698.0
4        5             Field of Dreams          PG  15000000.0   84431625.0

  release_date    genre  runtime  rating  rating_count
0   1989-10-12  Romance     93.0     5.9       73638.0
1   1989-12-13   Comedy     99.0     7.4       91075.0
2   1989-07-28    Crime    100.0     7.2       91415.0
3   1989-12-20      War    145.0     7.2       91415.0
4   1989-04-21    Drama    107.0     7.5      101702.0

In [46]:
def nan_rand_fill(data, key):
    x = []
    for i in range(0, data[key].isna().sum()):
        x.append(abs(round(random.uniform((data[key].mean() - 2 * data[key].std()), (data[key].mean() + 2 * data[key].std())), 1)))
    df.loc[data[key].isna(), key] = [i for i in x]

nan_rand_fill(df, 'rating')
nan_rand_fill(df, 'rating_count')

In [47]:
print(df.tail(5)) # See the first five rows of the Data Frame

     movieid                                  title mpaa_rating       budget  \
610      611         Godzilla: King of the Monsters       PG-13  200000000.0
611      612                            Toy Story 4           G  200000000.0
612      613  Fast & Furious Presents: Hobbs & Shaw       PG-13  200000000.0
613      614                          The Lion King          PG  250000000.0
614      615                      Avengers: Endgame       PG-13  356000000.0

            gross release_date      genre  runtime  rating  rating_count
610  3.859000e+08   2019-05-13  Adventure    132.0     7.4      215066.9
611  1.062000e+09   2019-06-11  Animation    100.0     5.3      707426.3
612  7.594000e+08   2019-07-13   Thriller    136.0     5.5      390347.0
613  1.632000e+09   2019-07-09      Drama    118.0     6.8      308783.1
614  2.796000e+09   2019-04-22     Action    181.0     5.6      805758.0

In [48]:
print(df.shape) # Shape of the Data Frame

(615, 10)

In [49]:
print(df.dtypes) # Column names with their data types

movieid           int64
title            object
mpaa_rating      object
budget          float64
gross           float64
release_date     object
genre            object
runtime         float64
rating          float64
rating_count    float64
dtype: object

In [50]:
print(df.columns) # Column names

Index(['movieid', 'title', 'mpaa_rating', 'budget', 'gross', 'release_date',
       'genre', 'runtime', 'rating', 'rating_count'],
      dtype='object')

In [51]:
print(df.isna().sum()) # Column names with their NaN count

movieid         0
title           0
mpaa_rating     0
budget          0
gross           0
release_date    0
genre           0
runtime         0
rating          0
rating_count    0
dtype: int64