In [1]:
#Exercise 1

my_name = "Milan"
print(my_name)

Milan

In [2]:
#Exercise 2

age = 26
print(age)

26

In [3]:
#Exercise 3

julia_age = 32
age_diff = age - julia_age
print(age_diff)

-6

In [4]:
#Exercise 4

if age > 21:
    print("You are older than 21")
else:
    print("You are younger than 21")

You are older than 21

In [64]:
#Exercise 6

name_list = ["Killian", "Muayad", "Chris", "Milan", "Okan", "Rob", "Susan", "Yazdan", "Arjun"]
name_list.sort()
print(name_list[0])
print(name_list[-1])
for n in name_list:
    print(n)

Arjun
Yazdan
Arjun
Chris
Killian
Milan
Muayad
Okan
Rob
Susan
Yazdan

In [17]:
#Exercise 7

ages = [26, 39, 23, 37, 38, 34]
for a in ages:
    print(a)
print("\n")    
for a in ages:
    if a % 2 == 0:
        print(a)

26
39
23
37
38
34


26
38
34

In [18]:
#Exercise 8

number_list = [45, 63, 313, 556, 323, 88, 6, 90]
print(min(number_list))

6

In [19]:
#Exercise 9

print(max(number_list))

556

In [25]:
#Exercise 10

from datetime import date 
yob_list = [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
for year in yob_list:
    print(date.today().year - year)

24
28
18
13
16
17
29
27
44
15

In [54]:
#Exercise 11

customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]

def years_old(dict):
    for customer in dict:
        print(f"{customer['name']} is {customer['age']} years old")

years_old(customer_list)

Bob is 1999 years old
Jack is 1995 years old
Lisa is 2005 years old
Maria is 2010 years old
Ben is 2007 years old
Emma is 2006 years old
Oscar is 1994 years old
Amy is 1996 years old
Paul is 1979 years old
Etta is 2008 years old

In [55]:
#Exercise 12

def remove_yo(list):
    list.remove(max(list))
    list.remove(min(list))
    for age in list:
        print(age)

ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

remove_yo(ages)

20
24
14
12
13
25
23
11

In [56]:
#Exercise 13

def common_age(list_a, list_b):
    common_ages = []

    for i in list_a:
        for j in list_b:
            if i == j:
                common_ages.append(i)
    
    return common_ages

berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]

for age in common_age(berlin, munich):
    print(age)

15
13
16
18
19
10

In [58]:
#Exercise 14

def remove_dups(list):
    new_list = []
    [new_list.append(age) for age in list if age not in new_list]
    return new_list

age_list = [15,13,16,18,19,15,10]

# for age in age_list:
#     if age not in new_list:
#         new_list.append(age)

for age in remove_dups(age_list):
    print(age)

15
13
16
18
19
10

In [49]:
#Exercise 15

def welcome(name):
    print(f"Welcome {name}, have a nice day!")

welcome("Sarah")

Welcome Sarah, have a nice day!

In [50]:
#Exercise 16

def get_length(str):
    print(len(str))

get_length("Hello")

5

In [53]:
#Exercise  17

def check_even(i):
    print('Yes') if i % 2 == 0 else print ('No')

check_even(2643984)
check_even(3)

Yes
No

In [60]:
#Exercise 19

def is_age_in(list, age):
    return True if age in list else False


ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]

print(is_age_in(ages, 9))

True

In [64]:
#Set 1.2

def array_diff(list_a, list_b):
    new_list = []
    for a in list_a:
        if a not in list_b:
            new_list.append(a)

    return new_list

berlin = [15, 13, 16, 18, 19, 10, 12, 45 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]

print(array_diff(berlin, munich))

[12, 45]

In [69]:
#Set 1.3

def sep(list):
    list_l = len(list)
    name_string = ""
    for i in range(0, list_l-2):
        name_string = name_string + list[i] + ", " 
    name_string = name_string + list[-2] + " & " + list[-1]
    return name_string

name_list = ["Killian", "Muayad", "Chris", "Milan", "Okan", "Rob", "Susan", "Yazdan", "Arjun"]

print(sep(name_list))

Killian, Muayad, Chris, Milan, Okan, Rob, Susan, Yazdan & Arjun

In [73]:
#Set 1.4

def filter_list(list):
    new_list = []
    [new_list.append(x) for x in list if isinstance(x, int)]   
    return new_list

list_x = [1, 2, 'aasf', '1', '123', 123]

print(filter_list(list_x))

[1, 2, 123]

In [76]:
#Set 1.5

find_it = [20,1,-1,2,-2,3,3,5,5,1,2,4,20,4,-1,-2,5]
new_list = []
def find_odd(list):
    for n in list:
        if list.count(n) % 2 != 0:
            return n

print(find_odd(find_it))

5

In [77]:
#Set 1.6

string_1 = "ooxx"
string_2 = "xooxx"

def same_ox(string):
    return string.count("o") == string.count('x')

print(same_ox(string_1))
print(same_ox(string_2))

True
False

In [105]:
#Set 1.7

def validate_pin(string):
    str_l = len(string)
    if str_l == 4 or str_l == 6:
        for char in string:
            if not char.isdigit():
                return False
        return True
    else:
        return False

pin = "124ff4"

print(validate_pin(pin))

False

In [6]:
#Set 1.8

words_str = "apple pineapple watermelon lemon tea i"

words_list = words_str.split(' ')

min_len = len(words_list[0])
min_len_list = []
for word in words_list[1:]:
    if len(word) < min_len:
        min_len = len(word)

print(min_len)

1

In [23]:
#Set 1.9

def missing_letter(list):
    letter = ''
    for i in range(1, len(list)):
        if ord(list[i]) - 1 != ord(list[i-1]):
           letter = chr(ord(list[i])-1)
    return letter 

list = ['O', 'Q', 'R', 'S']

print(missing_letter(list))

P

In [24]:
#Set 1.10

names = ['Ryan', 'Kieran', 'Jason', 'Yous']
new_list = []

for name in names:
    if len(name) == 4:
        new_list.append(name)

print(new_list)

['Ryan', 'Yous']

In [34]:
#Set 2.1

characters = 'abracadabra'
ordered_count = []
for char in characters:
    item = (char, characters.count(char))
    if item not in ordered_count:
        ordered_count.append(item)


print(ordered_count)

[('a', 5), ('b', 2), ('r', 2), ('c', 1), ('d', 1)]

In [10]:
#Set 2.2

def is_nar(n):
    l = len(n)
    s = 0
    for d in n:
        s += pow(int(d), l)
    return int(n) == s

number = "1634"

print(is_nar(number))

False

In [19]:
#Set 2.3

def is_pangram(string):
    count = 0
    string.lower()
    if len(string) >= 26:
        for i in range(0, 26):
            if chr(ord('a')+i) in string:
                count += 1 

            
    return count == 26

string = "The quick brown fox jumps over the lazy dog"
print(is_pangram(string))

False

In [ ]:
#Set 2.4 (Skipped beacuse it's easy)
#Set 3.1 (Skipped because the task is confusing)

In [27]:
#Set 3.2

def session(list, n):
    new_list = []
    for num in list:
        if new_list.count(num) < n:
            new_list.append(num)
    return new_list

list = [20, 37, 20, 21]

print(session(list, 1))

[20, 37, 21]

In [33]:
#Set 3.3

def alph_pos(string):
    new_string = ''
    for char in string:
        pos = ord(char.upper())
        if pos > 64 and pos < 91:
            new_string += str((pos - 64)) + ' '
    return new_string

string = "The sunset sets at twelve o’ clock."

print(alph_pos(string))

20 8 5 19 21 14 19 5 20 19 5 20 19 1 20 20 23 5 12 22 5 15 3 12 15 3 11

In [42]:
#Set 3.4

def eveness(list):
    i = 0
    while i < len(list):
        if (list[i] % 2) != (list[i+1] % 2):
            return i + 2
        i += 1

list = [1, 3, 1, 1, 3, 5, 77, 2345, 78]
print(eveness(list))

9

In [47]:
#Set 3.5

def scramble (str1, str2):
    if len(str1) >= len(str2):
        s_str = str2
        l_str = str1
    else:
        s_str = str1
        l_str = str2
    for c in s_str:
        if c not in l_str:
            return False
    return True

print(scramble('cedewaraaossoqqyt', 'codewars'))

True

In [49]:
#Set 3.6

def max_seq(list):
    sum = 0
    max_sum = 0
    for n in list:
        sum = max(0, sum + n)        # 0, 1, 0, 4, 3, 5, 6, 1, 5
        max_sum = max(max_sum, sum)  # 0, 1, 1, 4, 4, 5, 6, 6, 6
    return max_sum

seq = [-2, 1, -3, 4, -1, 2, 1, -5, 4]

print(max_seq(seq))

6

In [54]:
#Set 4.1

def number_of_years(pop, per, new, tar):
    n = 0
    i = pop
    while i < tar:
        i += i * per  / 100 + new
        n += 1
    return n

print(number_of_years(1500000, 2.5, 10000, 2000000))

10

In [13]:
import nltk
nltk.download('words')
english_vocab = set(w.lower() for w in nltk.corpus.words.words())

[nltk_data] Downloading package words to
[nltk_data]     C:\Users\milan\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

In [73]:
#Set 4.2

def max_match(string):
    tokens = []
    i = 0
    while i < len(string):
        maxWord = ""
        for j in range(i, len(string)):
            tempWord = string[i:j+1]
            if tempWord in english_vocab and len(tempWord) > len(maxWord):
                maxWord = tempWord
        i = i+len(maxWord)
        tokens.append(maxWord)
    return tokens

string = "happynightzi"

print(max_match(string))

['happy', 'night', 'z', 'i']

In [99]:
#Set 4.3

def is_circ_sorted(array):
    for i in range(1, len(array)):
        while array[i] > array [i-1]:
            i += 1
        else:
            if array[i:] + array[0:i] == sorted(array):
                return True
            else:
                return False
    return False

array = [6, 7, 4, 8]
print(is_circ_sorted(array))

False

In [2]:
#Set 4.4

def got_change(que):
    cash = [0, 0, 0]
    for bill in que:
        if bill == 25:
            cash[0] += 1
        elif bill == 50 and cash[0] > 0:
            cash[0] -= 1
            cash[1] += 1
        elif bill == 100 and cash[0] > 0 and cash[1] > 0:
            cash[0] -= 1
            cash[1] -= 1
            cash[2] += 1
        elif bill == 100 and cash[0] >= 3:
            cash[0] -= 3
            cash[2] += 1
        else:
            return False
    return True

tickets = [25, 25, 100]
print(got_change(tickets))

False

In [15]:
#Set 4.5

def reverse_strings(t, *strings):
    if t < 1 or t > 10 or len(strings) > 2000:
        return False
    else:
        for i in range(0, t):
            list = strings[i].split(',')
            rev_list = [word[::-1] for word in list]
            print (",".join(rev_list))

t = 2
string_1 = 'see22s,se3131fwef,111wdwdw'
string_2 = '132,3459-d2'
reverse_strings(2, string_1, string_2)

s22ees,fewf1313es,wdwdw111
231,2d-9543

In [50]:
#Set 4.6

def persistence(num):
    if num < 10: return 0
    while num > 9:
        digits = str(num)
        multi = 1 
        for d in digits:
            multi *= int(d)
        num = multi
    return multi
        
print(persistence(39))

4

In [4]:
#Set 4.7

def calculate_optimal_fare(dis, time, s1, r, s2):
    t = time / 60
    t1 = dis / s1 * 60
    t2 = dis / s2 * 60
    d1 = (t * s1 * s2 - s1 * dis) / (s2 - s1)
    if t2 <= time:
        return "00.0"
    elif t1 > time:
        return False
    else:
        return "%.2f" % (r * d1)

print(calculate_optimal_fare(10, 50, 30, 10, 6))

62.50