In [29]:
import numpy as np
import pandas as pd
import random

def func (data):
    m = data.mean(numeric_only=True)
    s = data.std(numeric_only=True)
    mn = m - 2 * s
    mx = m + 2 * s
    return random.uniform(mn, mx)

df = pd.read_csv('Sprint 1 - Movies Data Set Analysis/movies.csv') # Gathering data
df = df.drop(columns=['Summary']) # remove the column "Summary"
df.columns = df.columns.str.lower().str.replace(' ', '_') # Make all the column names lowercase and replace spaces with underscores
df.drop(df.tail(1).index, inplace=True) # Remove the last row of the DF (containing NaNs)

In [30]:
print(df.tail(5)) # See the first five rows of the Data Frame

     movieid                                  title mpaa_rating       budget  \
610      611         Godzilla: King of the Monsters       PG-13  200000000.0
611      612                            Toy Story 4           G  200000000.0
612      613  Fast & Furious Presents: Hobbs & Shaw       PG-13  200000000.0
613      614                          The Lion King          PG  250000000.0
614      615                      Avengers: Endgame       PG-13  356000000.0

            gross release_date      genre  runtime  rating  rating_count
610  3.859000e+08   2019-05-13  Adventure    132.0     NaN           NaN
611  1.062000e+09   2019-06-11  Animation    100.0     NaN           NaN
612  7.594000e+08   2019-07-13   Thriller    136.0     NaN           NaN
613  1.632000e+09   2019-07-09      Drama    118.0     NaN           NaN
614  2.796000e+09   2019-04-22     Action    181.0     NaN           NaN

In [27]:
df.fillna(func(df), inplace=True)

In [ ]:
df.fillna()np.random.uniform((df.mean(numeric_only=True) - 2 * df.std(numeric_only=True)), (df.mean(numeric_only=True) + 2 * df.std(numeric_only=True)))

In [15]:
print(df.tail(5)) # See the first five rows of the Data Frame

     movieid  title  mpaa_rating  budget  gross  release_date  genre  runtime  \
610      NaN    NaN          NaN     NaN    NaN           NaN    NaN      NaN
611      NaN    NaN          NaN     NaN    NaN           NaN    NaN      NaN
612      NaN    NaN          NaN     NaN    NaN           NaN    NaN      NaN
613      NaN    NaN          NaN     NaN    NaN           NaN    NaN      NaN
614      NaN    NaN          NaN     NaN    NaN           NaN    NaN      NaN

     rating  rating_count
610     NaN           NaN
611     NaN           NaN
612     NaN           NaN
613     NaN           NaN
614     NaN           NaN

In [ ]:
print(df.shape) # Shape of the Data Frame

In [ ]:
print(df.dtypes) # Column names with their data types

In [ ]:
print(df.columns) # Column names

In [ ]:
print(df.isna().sum()) # Column names with their NaN count